{{> layout/header}}

<div class="container p-5">

    <div class="d-flex justify-content-end">
        <a href="/api/teacher/paper/save-form" class="btn btn-primary">시험지등록</a>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>번호</th>
            <th>교과목</th>
            <th>문항수</th>
            <th>시험유형</th>
            <th>과정명/회차</th>
        </tr>
        </thead>
        <tbody>
        {{#paging.papers}}
            <tr class="click-tr" onclick="location.href='/api/teacher/paper/{{paperId}}'">
                <td>{{paperId}}</td>
                <td>{{subjectTitle}}</td>
                <td>{{count}}</td>
                <td>{{paperState}}</td>
                <td>{{courseTitle}}/{{courseRound}}회차</td>
            </tr>
        {{/paging.papers}}
        </tbody>
    </table>

    <ul class="pagination d-flex justify-content-center">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>

</div>

{{> layout/footer}}