{{> layout/header}}

<div class="container p-5">

    <div class="card">
        <div class="card-header"><b>시험지를 등록 해주세요</b></div>
        <div class="card-body">
            <form action="/api/paper/save" method="post" enctype="application/x-www-form-urlencoded">
                <div class="mb-3">
                    <select class="form-select" name="subjectId">
                        <option value="0">교과목을 선택해주세요 (필수)</option>
                        {{#models}}
                            <option value="{{subjectId}}">{{subjectTitle}} : {{courseTitle}} {{courseRound}}회차</option>
                        {{/models}}
                    </select>
                </div>

                <hr>
                <div class="mb-3">
                    <select class="form-control" name="paperState">
                        <option value="본평가">본평가</option>
                        <option value="재평가">재평가</option>
                    </select>
                </div>

                <hr>

                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="문항수" name="count">
                </div>
                <button type="submit" class="btn btn-primary form-control">시험지등록</button>
            </form>
        </div>
    </div>
</div>

{{> layout/footer}}