{{> layout/header}}

<div class="container p-5">

    <table class="table table-hover">
        <thead>
        <tr>
            <th>번호</th>
            <th>문서이름</th>
        </tr>
        </thead>
        <tbody>
            <tr class="click-tr" onclick="location.href='/api/teacher/document/course/{{courseId}}/subject/{{subjectId}}/no1'">
                <td>1</td>
                <td>평가개요</td>
            </tr>
            <tr class="click-tr" onclick="location.href='/api/teacher/document/course/{{courseId}}/subject/{{subjectId}}/no2'">
                <td>2</td>
                <td>평가기준</td>
            </tr>
            <tr class="click-tr" onclick="location.href='/api/teacher/document/course/{{courseId}}/subject/{{subjectId}}/no3'">
                <td>3</td>
                <td>평가지</td>
            </tr>
            <tr class="click-tr" onclick="location.href='/api/teacher/document/course/{{courseId}}/subject/{{subjectId}}/no4'">
                <td>4</td>
                <td>개인별평가표</td>
            </tr>
            <tr class="click-tr" onclick="location.href='/api/teacher/document/course/{{courseId}}/subject/{{subjectId}}/no5'">
                <td>5</td>
                <td>기안84</td>
            </tr>
            <tr class="click-tr" onclick="location.href='/api/teacher/document/course/{{courseId}}/subject/{{subjectId}}/no6'">
                <td>6</td>
                <td>성취도분석</td>
            </tr>
            <tr class="click-tr" onclick="location.href='/api/teacher/document/course/{{courseId}}/subject/{{subjectId}}/no7'">
                <td>7</td>
                <td>개인별성취도</td>
            </tr>
        </tbody>
    </table>

</div>

{{> layout/footer}}