{{> layout/header}}
<style>
    .table th {
        text-align: center;
        vertical-align: middle;
    }

    .table th {
        background-color: #c4d2d9;
    }

    .page-title {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

</style>

<div class="container p-5">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <td colspan="6" class="page-title">
                    <h1>평가 개요서</h1>
                </td>
            </tr>
            </thead>
            <tbody>
            <!-- Page 1 Content -->
            <tr class="title-row">
                <th>과정명 (훈련기간)</th>
                <td colspan="5">{{model.courseTitle}} {{model.courseRound}}회차<br>({{model.courseStartDate}}
                    ~ {{model.courseEndDate}})
                </td>
            </tr>
            <tr class="header-row">
                <th>교과목명</th>
                <td>{{model.subjectTitle}}</td>
                <th>평가방법</th>
                <td>{{model.subjectEvaluationWay}}</td>
                <th>평가자</th>
                <td class="content">
                    {{model.subjectTeacherName}} <span class="signature">(인)</span>
                    <img src="{{model.sign}}" class="signature-img" alt="signature">
                </td>
            </tr>
            <tr class="sub-header-row">
                <th>채점일시</th>
                <td>{{model.subjectEvaluationDate}}</td>
                <th>평가장소</th>
                <td>{{model.loc}}</td>
                <th>평가일시</th>
                <td>{{model.subjectEvaluationDate}}</td>
            </tr>

            <tr>
                <th>수행내용 및 유의사항</th>
                <td colspan="5">
                    <table class="table table-bordered m-0">
                        <tr>
                            <th>주제</th>
                            <td>
                                {{#model.subjectElements}}
                                    {{.}} <br>
                                {{/model.subjectElements}}
                            </td>
                        </tr>
                        <tr>
                            <th>제출형태</th>
                            <td colspan="2">{{model.submitWay}}</td>
                        </tr>
                        <tr>
                            <th>제출기한</th>
                            <td colspan="2">{{model.subjectEvaluationDate}}</td>
                        </tr>
                        <tr>
                            <th>피평가자유의사항</th>
                            <td colspan="2">제출기한 엄수</td>
                        </tr>
                        <tr>
                            <th>평가배점</th>
                            <td>
                                본평가, 재평가, 결시자에 관련한 평가 배점 방법은 아래와 같다. <br>
                                {{#model.examRates}}
                                    {{.}} <br>
                                {{/model.examRates}}
                            </td>
                        </tr>
                        <tr>
                            <th>평가환경 및 장비</th>
                            <td colspan="2">{{model.equipment}}</td>
                        </tr>
                    </table>
                </td>
            </tr>


            <tr>
                <th>평가기준 및 유의사항</th>
                <td colspan="5">

                    <table class="table table-bordered m-0">
                        {{#model.questions}}
                            <tr>
                                <td><span
                                        class="circle-number">{{no}}</span>
                                    {{questionPurpose}} </td>
                            </tr>
                        {{/model.questions}}
                    </table>

                </td>
            </tr>

            <tr class="sub-header-row">
                <th>모범답안</th>
                <td colspan="5">
                    <table class="table table-hover m-0">
                        <tbody>
                        {{#model.questions}}
                            <tr>
                                <td>{{no}}</td>
                                <td>{{title}} ({{point}}점)</td>
                                <td>
                                    {{#options}}
                                        {{no}}. {{title}}  <input type="radio" {{#isRight}}checked{{/isRight}}><br>
                                    {{/options}}
                                </td>
                            </tr>
                        {{/model.questions}}
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


{{> layout/footer}}