{{> layout/header}}
<style>
    .table th {
        text-align: center;
        vertical-align: middle;
    }

    .table th {
        background-color: #c4d2d9;
    }

    .page-title {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
</style>

<div class="container p-5">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <td colspan="6" class="page-title">
                    <h1>평가 개요서</h1>
                </td>
            </tr>
            </thead>
            <tbody>
            <!-- Page 1 Content -->
            <tr class="title-row">
                <th>과정명 (훈련기간)</th>
                <td colspan="5">자바&Springboot 크로스 플랫폼(풀스택)융합 응용SW개발자 양성과정<br>(2023.11.27. ~ 2024.05.23.)</td>
            </tr>
            <tr class="header-row">
                <th>교과목명</th>
                <td>Javascript</td>
                <th>평가방법</th>
                <td>선다형</td>
                <th>평가자</th>
                <td>최 주 호 (인)</td>
            </tr>
            <tr class="sub-header-row">
                <th>채점일시</th>
                <td>2024.02.20.</td>
                <th>평가장소</th>
                <td>3호</td>
                <th>평가일시</th>
                <td>2024.02.20.</td>
            </tr>

            <tr>
                <th>수행내용 및 유의사항</th>
                <td colspan="5">
                    <table class="table table-bordered m-0">
                        <tr>
                            <th>주제</th>
                            <td>Variable <br> Javascript Fundamental <br></td>
                        </tr>
                        <tr>
                            <th>제출형태</th>
                            <td colspan="2">선다형 평가를 최종완성해서 시험지로 제출</td>
                        </tr>
                        <tr>
                            <th>제출기한</th>
                            <td colspan="2">2024.02.16.</td>
                        </tr>
                        <tr>
                            <th>피평가자유의사항</th>
                            <td colspan="2">제출기한 엄수</td>
                        </tr>
                        <tr>
                            <th>평가배점</th>
                            <td>
                                본평가 및 재평가에 관련한 사항은 평가방법별로 아래와 같다. <br>
                                1차 평가 배점 : 평가점수 X 100%<br>
                                2차 재평가 배점 : 평가점수 X 90%<br>
                                3차 재평가 배점 : 평가점수 X 80%<br>

                            </td>
                        </tr>
                        <tr>
                            <th>결시자 평가</th>
                            <td colspan="2">평가점수 X 90%</td>
                        </tr>
                        <tr>
                            <th>평가환경 및 장비</th>
                            <td colspan="2">인터넷, 문서제작 도구가 설치되어 있는 PC</td>
                        </tr>
                    </table>
                </td>
            </tr>


            <tr>
                <th>평가기준 및 유의사항</th>
                <td colspan="5">

                    <table class="table table-bordered m-0">
                        <tr>
                            <td>1. JavaScript에서 fetch 메서드는 무엇을 하는 기능인가요? (5점)</td>
                        </tr>
                        <tr>
                            <td>2. JavaScript에서 fetch 메서드는 무엇을 하는 기능인가요? (5점)</td>
                        </tr>
                    </table>

                </td>
            </tr>

            <tr class="sub-header-row">
                <th>모범답안</th>
                <td colspan="5">
                    <table class="table table-hover m-0">
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>JavaScript에서 fetch 메서드는 무엇을 하는 기능인가요?</td>
                            <td>
                                1 웹 페이지의 HTML 내용을 가져옵니다.
                                <input type="radio"><br>
                                2 웹 페이지의 HTML 내용을 가져옵니다.
                                <input type="radio"><br>
                                3 웹 페이지의 HTML 내용을 가져옵니다.
                                <input type="radio"><br>
                                4 웹 페이지의 HTML 내용을 가져옵니다.
                                <input type="radio" checked><br>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>JavaScript에서 fetch 메서드는 무엇을 하는 기능인가요?</td>
                            <td>
                                1 웹 페이지의 HTML 내용을 가져옵니다.
                                <input type="radio"><br>
                                2 웹 페이지의 HTML 내용을 가져옵니다.
                                <input type="radio"><br>
                                3 웹 페이지의 HTML 내용을 가져옵니다.
                                <input type="radio"><br>
                                4 웹 페이지의 HTML 내용을 가져옵니다.
                                <input type="radio" checked><br>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


{{> layout/footer}}