{{> layout/header}}

<div class="container p-5">

    <table class="table table-hover">
        <thead>
        <tr>
            <th>번호</th>
            <th>과정명/회차</th>
        </tr>
        </thead>
        <tbody>
        {{#models}}
            <tr class="click-tr" onclick="location.href='/api/teacher/document/course/{{courseId}}/subject/{{subjectId}}'">
                <td>{{subjectNo}}</td>
                <td>{{subjectTitle}}</td>
            </tr>
        {{/models}}
        </tbody>
    </table>

</div>

{{> layout/footer}}