{{> layout/header}}

<div class="container p-5">

    <div class="d-flex justify-content-end">
        <a href="/api/teacher/subject/{{model.subjectId}}/element/save-form" class="btn btn-primary">교과목 요소 등록</a>
    </div>


    <div>
        교과목명 : {{model.title}} <br>
        교과목목표 : {{model.purpose}} <br>
    </div>

    <hr>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>순번</th>
            <th>교과목 요소</th>
        </tr>
        </thead>
        <tbody>
        {{#model.subjectElements}}
            <tr>
                <td>{{no}}</td>
                <td>{{subtitle}}</td>
            </tr>
        {{/model.subjectElements}}
        </tbody>
    </table>
</div>

{{> layout/footer}}