{{> layout/header}}

<div class="container p-5">

    <div class="card">
        <div class="card-header"><b>학생인증을 해주세요</b></div>
        <div class="card-body">
            <form action="/api/student/check" method="post" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="userId" value="{{sessionUser.id}}">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="이름" name="name" value="박동기">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="생년월일6자리" name="birthday" value="700101">
                </div>
                <button type="submit" class="btn btn-primary form-control">학생인증요청</button>
            </form>
        </div>
    </div>
</div>

{{> layout/footer}}