{{> layout/header}}
<style>
    canvas {
        border: 1px solid black; /* 캔버스 경계 표시 */
    }
</style>

<div class="container p-5">
    <h1>선생님 안녕하세요. 사인을 저장해주세요.</h1>
    <canvas id="signature-pad" width="200" height="200"></canvas> <!-- 서명 공간 -->
    <button type="button" class="btn btn-primary" onclick="saveSignature()">저장</button>
</div>

<script>
    let canvas = document.getElementById('signature-pad');
    let context = canvas.getContext('2d');

    context.lineWidth = 4;  // 선의 굵기를 5픽셀로 설정
    context.strokeStyle = '#000000'; // 선의 색상을 검정으로 설정, 필요에 따라 색상 변경 가능

    let drawing = false;
    let lastX = 0;
    let lastY = 0;

    canvas.addEventListener('mousedown', startDrawing);
    canvas.addEventListener('mousemove', draw);
    canvas.addEventListener('mouseup', stopDrawing);
    canvas.addEventListener('mouseout', stopDrawing);

    function startDrawing(e) {
        drawing = true;
        lastX = e.offsetX;
        lastY = e.offsetY;
    }

    function draw(e) {
        if (!drawing) return;
        context.beginPath();
        context.moveTo(lastX, lastY);
        context.lineTo(e.offsetX, e.offsetY);
        context.stroke();
        lastX = e.offsetX;
        lastY = e.offsetY;
    }

    function stopDrawing() {
        drawing = false;
    }

    function saveSignature() {
        const dataUrl = canvas.toDataURL(); // 서명을 이미지로 변환
        console.log(dataUrl);

        let requestBody = {
            sign: dataUrl
        }

        $.ajax({
            url: `/teacher/sign`,
            method: "put",
            data: JSON.stringify(requestBody),
            contentType: "application/json; charset=utf-8"
        }).done((res) => {
            console.log(res);
            alert("저장완료");
            //location.href = '/login-form';
        }).fail((res) => {
            alert(res.responseJSON.msg);
            console.log(res.responseJSON.msg);
        });
    }

</script>

{{> layout/footer}}