{{> layout/header}}

<div class="container p-5">
    <h1>선생님 안녕하세요. 사인을 저장해주세요.</h1>
    <div>
        <canvas id="signature-pad" width="300" height="300"></canvas> <!-- 서명 공간 -->
    </div>
    <div>
        <button type="button" class="btn btn-primary" onclick="saveSignature()">저장</button>
    </div>
</div>

<script>
    let canvas = document.getElementById('signature-pad');
    let context = canvas.getContext('2d');

    context.lineWidth = 4;  // 선의 굵기를 5픽셀로 설정
    context.strokeStyle = '#000000'; // 선의 색상을 검정으로 설정, 필요에 따라 색상 변경 가능

    let drawing = false;
    let outside = false;
    let lastX = 0;
    let lastY = 0;


    canvas.addEventListener('mousedown', startDrawing);
    canvas.addEventListener('mousemove', draw);
    canvas.addEventListener('mouseup', stopDrawing);
    canvas.addEventListener('mouseout', function(e) {
        console.log("마우스 나감 : "+drawing);
        if (drawing) {
            stopDrawing(e, true);
        }
    });
    canvas.addEventListener('mouseenter', function(e) {
        console.log("마우스 들어옴 : "+drawing);
        if (outside && drawing) {
            startDrawing(e, true); // 마우스가 캔바스 밖으로 나갔다가 돌아왔을 때 재시작
        }
    });


    function cancelSignature() {
        context.clearRect(0, 0, canvas.width, canvas.height);
    }

    function startDrawing(e, continueDrawing = false) {
        drawing = true;
        if (!continueDrawing) {
            lastX = e.offsetX;
            lastY = e.offsetY;
        }
    }

    function draw(e) {
        if (!drawing) return;
        context.beginPath();
        context.moveTo(lastX, lastY);
        context.lineTo(e.offsetX, e.offsetY);
        context.stroke();
        lastX = e.offsetX;
        lastY = e.offsetY;
    }

    function stopDrawing(e, leftCanvas = false) {
        if (!leftCanvas) {
            drawing = false;
        }
        outside = leftCanvas;
    }

    function saveSignature() {
        const dataUrl = canvas.toDataURL(); // 서명을 이미지로 변환
        //console.log(dataUrl);

        let requestBody = {
            sign: dataUrl
        }

        $.ajax({
            url: `/teacher/sign`,
            method: "put",
            data: JSON.stringify(requestBody),
            contentType: "application/json; charset=utf-8"
        }).done((res) => {
            location.href = '/login-form';
        }).fail((res) => {
            alert(res.responseJSON.msg);
            console.log(res.responseJSON.msg);
        });
    }

</script>

{{> layout/footer}}