{{> layout/header}}

<div class="container p-5">
    <div>
        시험일 : {{model.evaluationDate}} <br>
        시험장소 : {{model.loc}} <br>
        교과목 : {{model.subjectTitle}} <br>
        훈련교사 : {{model.teacherName}} <br>
        훈련교사 : {{model.studentName}} <br>
        문항수 : {{model.questionCount}} <br>
    </div>

    <form>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>점수</th>
                <th>항목</th>
            </tr>
            </thead>
            <tbody>
            {{#model.questions}}

                <tr>
                    <input type="hidden" class="questionNo" value="{{no}}">
                    <td>{{no}}</td>
                    <td>{{title}}</td>
                    <td>{{point}}</td>
                    <td>
                        {{#options}}
                            {{no}} {{content}} <input type="radio" class="optionNo" name="question-{{questionId}}" value="{{no}}"><br>
                        {{/options}}
                    </td>
                </tr>
            {{/model.questions}}
            </tbody>
        </table>
        <button type="button" onclick="sendAnswer()" class="btn btn-primary">제출하기</button>
    </form>
</div>

<script>

    function sendAnswer(){
        let requestBody  = {
            paperId : {{model.paperId}},
            teacherName: "{{model.teacherName}}",
            answers: []
        };
        let items = $("tbody > tr");

        items.each(function (index, element){
            let questionNo = $(element).find(".questionNo:first").val();
            let selectedOptionNo = $(element).find(".optionNo:checked").val();
            // console.log("문제번호", questionNo);
            // console.log("정답번호", selectedOptionNo);

            let answer = {
                questionNo: Number(questionNo),
                selectedOptionNo: Number(selectedOptionNo),
            };

            requestBody.answers.push(answer);
        });

        console.log(JSON.stringify(requestBody));

        $.ajax({
            url: "/api/exam/my",
            type: "post",
            data: JSON.stringify(requestBody),
            contentType: "application/json; charset=utf-8"
        }).done((res)=>{
            console.log(res);
            location.href = "/api/exam/my";
        }).fail((res)=>{
            alert(res.responseJSON.msg);
        });
    }


</script>

{{> layout/footer}}