{{> layout/header}}

<div class="container p-5">

    <table class="table table-hover">
        <thead>
        <tr>
            <th>번호</th>
            <th>교과목</th>
            <th>시험유형</th>
            <th>시험문항수</th>
            <th>과정명/회차</th>
            <th>훈련강사</th>
            <th>응시하기</th>
        </tr>
        </thead>
        <tbody>
        {{#model.papers}}
            <tr>
                <td>{{subjectNo}}</td>
                <td>{{subjectTitle}}</td>
                <td>{{paperState}}</td>
                <td>{{count}}</td>
                <td>{{courseTitle}}/{{courseRound}}회차</td>
                <td>{{teacherName}}</td>
                <td>
                    {{#isAttendance}}
                        <a class="btn btn-outline-secondary btn-sm" href="#" disabled>응시완료</a>
                    {{/isAttendance}}
                    {{^isAttendance}}
                        <a class="btn btn-outline-primary btn-sm" href="/api/student/exam/start?paperId={{paperId}}">응시하기</a>
                    {{/isAttendance}}
                </td>
            </tr>
        {{/model.papers}}
        </tbody>
    </table>

</div>

{{> layout/footer}}