{{> layout/header}}

<div class="container p-5">

    <table class="table table-hover">
        <thead>
        <tr>
            <th>과정ID</th>
            <th>과정명</th>
            <th>회차</th>
            <th>수준</th>
            <th>목표</th>
            <th>훈련시간</th>
            <th>훈련일수</th>
            <th>개강일</th>
            <th>수료일</th>
            <th>훈련교사</th>
            <th>진행상태</th>
        </tr>
        </thead>
        <tbody>
        {{#paging.courses}}
            <tr class="click-tr" onclick="location.href='/api/teacher/exam/subject?courseId={{id}}'">
                <td>{{code}}</td>
                <td>{{title}}</td>
                <td>{{round}}</td>
                <td>{{level}}</td>
                <td>{{purpose}}</td>
                <td>{{totalTime}}</td>
                <td>{{totalDay}}</td>
                <td>{{startDate}}</td>
                <td>{{endDate}}</td>
                <td>{{teacherName}}</td>
                <td>{{courseStatus}}</td>
            </tr>
        {{/paging.courses}}
        </tbody>
    </table>

    <ul class="pagination d-flex justify-content-center">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>

</div>

{{> layout/footer}}